<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="DbFolder" value="C:\Users\Dali\Desktop\cours pam2\programmation multicouche\CC01\CC01.WinForms\bin\Debug\data"/>
	
	</appSettings>
</configuration>